{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    <p id = 'login_title' >Register</p>


    {{ form_start(registrationForm) }}
    <div class = 'login_text'>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
    </div>
        <button type="submit" class="register_submit">Register</button>
    {{ form_end(registrationForm) }}


{% endblock %}
