{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    <p id = 'register_title' >REGISTER</p>
    <section id="registration_layout">
    {% form_theme registrationForm 'form_div_layout.html.twig' %}
    {{ form_start(registrationForm) }}
    <div id = "register_fields" class = 'register_text'>
        {{ form_row(registrationForm.first_name) }}
        {{ form_row(registrationForm.last_name) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        <p id="email_text"> &nbsp &nbsp -> You will recieve a confirmation mail once registered. Be sure to check your spam mail.</p>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    </div>
    <div id ='accept'>
        {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <div id="register_button">
        <button type="submit" class="register_submit">Register</button>
        </div>

    {{ form_end(registrationForm) }}
    </section>

{% endblock %}
