<!DOCTYPE html>
<html lang="en">
<head>
    <title>{%block title%}Book Binder{% endblock %}</title>
    <meta charset="UTF-8">
    <meta property="og:title" content="bookbinder" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="twitter:card" content="summary_large_image">

    <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
          data-tag="font"
    >
    <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          data-tag="font"
    >
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>
    {% if stylesheets is defined %}
      {% for stylesheet in stylesheets %}
        <link href="{{ asset('css/' ~ stylesheet) }}" rel="stylesheet" type="text/css"/>
      {% endfor %}
    {% endif %}

  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}

  {% endblock %}
  {% if javascripts is defined %}
    {% for script in javascripts %}
      <script src="{{ asset('js/' ~ script) }}" defer></script>
    {% endfor %}
  {% endif %}
</head>

<body {% block bodyAttributes %}{% endblock %}>
<div>
{% for notice in app.flashes('succes') %}
  {{ notice }}
{% endfor %}
</div>
<div>
    <link href="{{ asset('css/base.css') }}" rel="stylesheet" type="text/css"/>
  <div class="home-container">
  <header>
  <nav class="navbar-navbar navbar-root-class-name" id="navbar">
    <a href="{{ path('home') }}">
      <div id="logo" >
        <img id = "logo_png" src="https://www.linkpicture.com/q/Bookable-removebg-preview-2.png" alt="BOOKABLE">
      </div>
    </a>

    <nav class="navbar-nav-content">
      <ul class="navbar-nav-links">

        <li><a class="nav-link" href="{{ path('about') }}">About us </a></li>
        {% if is_granted('ROLE_USER')==0 %}
          <li><a class="nav-link" href="{{ path('welcome') }}">Login </a></li>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
          <li><a class="nav-link" href="{{ path('browsing') }}">Browse a book</a></li>
          <li><a class="nav-link"  href="{{ path('settings') }}" >Settings</a></li>
          <li><a class="nav-link" href="{{ path('profile') }}">Profile</a></li>
          <li><a class="nav-link" href="{{ path('app_logout') }}">Log out</a></li>
        {% endif %}


      </ul>
    <nav id="mobile-menu" class="navbar-mobile-menu">
      <div class="navbar-branding">
        <img
          alt="image"
          src="{{ asset('images/planical7012-ttpb.svg') }}"
          class="navbar-image1"
        />
        <div id="close-mobile-menu" class="navbar-container">
          <svg viewBox="0 0 1024 1024" class="navbar-icon">
            <path
              d="M225.835 286.165l225.835 225.835-225.835 225.835c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.835-225.835 225.835 225.835c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331l-225.835-225.835 225.835-225.835c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.835 225.835-225.835-225.835c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"
            ></path>
          </svg>
        </div>
      </div>
      <ul class="navbar-nav-links1">

        <li><a class="nav-link">About us</a></li>

        {% if is_granted('ROLE_USER') %}
          <li><a class="nav-link" href="{{ path('browsing') }}">Browse a book</a></li>
          <li><a class="nav-link">Community</a></li>
          <li><a class="nav-link" href="{{ path('settings') }}">Settings</a></li>
          <li><a class="nav-link" href="{{ path('app_logout') }}">Log out</a></li>
        {% endif %}
      </ul>
    </nav>
  </nav>
  </nav>
  </header>

  <main>
      {% block content %}{% endblock %}
  </main>


  <footer class="home-footer">
    <div class="home-footer-content">
      <div class="home-footer-main">
        <div class="home-footer-links">
          <div class="home-footer-images">
            <div class="home-socials">
              <a
                      href="https://example.com"
                      target="_blank"
                      rel="noreferrer noopener"
                      class="home-link"
              >
                <img
                        alt="image"
                        src="{{ asset('images/linkedin.png') }}"
                        class="social"
                />
              </a>
              <a
                      href="https://example.com"
                      target="_blank"
                      rel="noreferrer noopener"
                      class="home-link1"
              >
                <img
                        alt="image"
                        src="{{ asset('images/instagram.png') }}"
                        class="social"
                />
              </a>
              <a
                      href="https://example.com"
                      target="_blank"
                      rel="noreferrer noopener"
                      class="home-link2"
              >
                <img
                        alt="image"
                        src="{{ asset('images/twitter-200h.png') }}"
                        class="social"
                />
              </a>
            </div>
          </div>
          <div class="home-categories">
            <div class="home-category">
            <div class="home-category1">
              <div class="home-footer-header">
                <span class="footer-header">Company</span>
              </div>
              <div class="home-links-narrow">
                <a href="{{ 'about' }}"> <span class="footer-link" >About</span></a>
                <span class="footer-link">Team</span>
                <span class="footer-link">News</span>
              </div>
            </div>
            </div>
          </div>
        </div>
        <section class="home-copyright">
          <span class="home-footer-copyright">
            © 2023 a22web12.
          </span>
        </section>
      </div>
      <div class="home-mobile-copyright">
        <span class="home-footer-copyright">
          © 2022 a22web12.
        </span>
      </div>
    </div>

  </footer>
  </div>
</div>
</body>
</html>
