{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
{% endblock %}

{% block bodyAttributes %}
    onload="initialize({{ book.averageRating() }})"
{% endblock %}

{% block content%}
<section id="book-page">
    <img src="{{ book.imageUrl() }}" alt="Book Cover" width="50%">
    <section id="book-information">
        <h1>{{ bookTitle }}</h1>
        <h2>{{ book.author().getAuthorName() }}, {{ book.originalPublicationYear() | u.slice(0,4) }}</h2>
        <h3>Genre: {# book.genre().getGenre() #}</h3>
        <div id="like-system" {# stimulus_controller('book') #}>
            <div class="progress-container" {# stimulus_action('book', 'setInitial(4)') #}>
                <div class="progress-bar" id="progress-bar"{# stimulus_target('book', 'progressBar') #}></div>
            </div>
            <button class="ratingButton like" onclick="addLike()">
                <img class="btn-img" src="{{ asset('images/thumbs-up.png') }}" alt="Image Button">
            </button>
            <button class="ratingButton dislike" onclick="addDislike()">
                <img class="btn-img" src="{{ asset('images/thumbs-down.png') }}" alt="Image Button">
            </button>
        </div>
        <br>
        <div id="book-options">
            <button type="button" class="button">Follow +</button>
            <button type="button" class="button">Reserve</button>
        </div>
        <section class="about">
            <div id="about-book">
                <h2>About {{ bookTitle }}</h2>
                <p>bla bla bla...</p>
            </div>
            <div id="about-author">
                <h2>About {{ book.author().getAuthorName() }}</h2>
                <p>bla bla bla...</p>
            </div>
        </section>
    </section>
</section>

{% endblock %}