{% extends 'base.html.twig' %}

{% block title %}
    Browsing | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block content %}
    <!-- https://symfony.com/doc/current/components/browser_kit.html -->
<section id="browsing">
    <header>
        <h1 id="browsing_title">Book Browsing & Searching </h1>
    </header>
    <!-- define header search-->
    <section id="browsing_search">
        <!-- define search form-->
        {{ form_start(searchForm) }}
            {{ form_widget(searchForm) }}
        <button type="submit" id ="search_btn" class="main_button">Search</button>
        <a href="{{ path("browsing") }}" type="submit" id ="reset_btn" class="main_button">Reset</a>
        {{ form_end(searchForm) }}
    </section>
    {% for message in app.flashes('search') %}
        <div id = search_alert class="search_alert">
            {{ message }}
        </div>
    {% endfor %}
    <main id="contents">
        <aside id="browsing_filter_container">
            <!-- define filter form-->
            {{ form_start(filterForm) }}
            {{ form_widget(filterForm) }}
            {{ form_end(filterForm) }}
        </aside>
        <section id="browsing_list">
            {% for book in books %}
                <div class="browsing_list_item">
                    <a href="{{ path("book", {'book_id': book.getId()}) }}" class = "book_image_container">
                        <img src="{{ book.getImageUrl() }}" alt={{ book.getSmallImageUrl() }} class="book_list_image" width="200" height="300">
                    </a>
                    <a href="{{ path("book", {'book_id': book.getId()}) }}" class="book_list_description">
                        <span class="book_list_title">{{ book.getTitle()}}</span>
                        {% if book.getAuthor() is not null %}
                            <span class="book_list_author">{{ book.getAuthor().getAuthorName() }}</span>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}

        </section>
    </main>

    {#pages buttons#}
    <section class="browsing_pages">
        {% if previous >= 0 %}
            {%  if book_title is not null %}
                <a href="{{ path("searching", {'book_title': book_title, 'offset': previous}) }}" class="main_button">Previous</a>
            {% else %}
                <a href="{{ path("browsing", {'offset': previous}) }}" class="main_button">Previous</a>
            {% endif %}
        {% endif %}
        {% if next < books|length %}
            {%  if book_title is not null %}
                <a href="{{ path("searching", {'book_title': book_title, 'offset': next}) }}" class="main_button">Next</a>
            {% else %}
                <a href="{{ path("browsing", {'offset': next}) }}" class="main_button">Next</a>
            {% endif %}
        {% endif %}
    </section>
</section>
{% endblock %}

