{% extends 'base.html.twig' %}

{% block title %}
    Browsing | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
{% endblock %}

{% block content %}
    <!-- https://symfony.com/doc/current/components/browser_kit.html -->
    <section id="browsing">
        <h1 id="browsing-title">Book Browsing & Searching </h1>
        <!-- define header search and flexbox section-->
        <section class="browsing-search">
            <!-- define search form-->
            <form action="#" class="search-form align-center" method="get">
                <select name="genre" class="genre-selectors">
                    {# TODO: dynamically load genres from database table genres #}
                    {% for genre in bookgenres %}
                        <option value="{{ genre.genre }}" class="genre-selector">{{ genre.genre }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="book-name" placeholder="Title" value="book name" class="name-selector">
                <input type="text" name="author" placeholder="Author" value="author" class="author-selector">
                <button type="submit" class="search-button">Search</button>
            </form>
        </section>
    </section>
    <aside class="browsing-filter-container">
        <p class="footer-header">Type</p>
        <form action="#" method="get">
            {# TODO: dynamically load all column genre from database table genres #}
            {% for genre in bookgenres %}
                <input id="genre-filter" type="checkbox" name="genre-filter" value="{{ genre.genre }}">
                <label for="genre-filter" class="footer-link">{{ genre.genre }}</label><br>
            {% endfor %}
        </form>
    </aside>
    <!-- flex in vertical direction the book list-->
    <section class="browsing-list">
        {# TODO: if search-button is clicked, get the javascript return string #}
        {# TODO: dynamically load all book items in database table books #}
        {% for book in books %}
            <article class="browsing-list-item">
                <img src="{{ book.getImageUrl() }}" alt={{ book.getSmallImageUrl() }} class="book-list-image" width="200" height="300">
                <section class="book-list-description">
                    <h2 class="book-list-title">{{ book.getTitle()}}</h2>
                    {% if book.getAuthor() is not null %}
                        <p class="book-list-author">{{ book.getAuthor().getAuthorName() }}</p>
                    {% endif %}
                    {% if book.getGenre() is not null %}
                        <p class="book-list-genre">{{ book.getGenre().getGenre() }}</p>
                    {% endif %}
                    {% if book.getAverageRating() is not null %}
                        <p class="book-list-rating">{{ book.getAverageRating() }} average rating</p>
                    {% endif %}
                    <button class="save-button">Save to List</button>
                </section>
            </article>
        {% endfor %}
    </section>

{% endblock %}

