{% extends 'base.html.twig' %}

{% block title %}
    Browsing | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block content %}
    <!-- https://symfony.com/doc/current/components/browser_kit.html -->
<section id="browsing">
    <header>
        <h1 id="browsing-title">Book Browsing & Searching </h1>
    </header>
    <!-- define header search-->
    <section id="browsing-search">
        <!-- define search form-->
        {{ form_start(searchform) }}
            {{ form_widget(searchform) }}
        <button type="submit" id = "search-btn" class="main-button">Search</button>
        {{ form_end(searchform) }}
    </section>
    <main id="contents">
        <aside id="browsing-filter-container">
{#            <header>#}
{#                <h1 class="genre-header">Genres</h1>#}
{#            </header>#}
{#            <form action="#" method="get">#}
{#                {% for genre in genres %}#}
{#                    <input id="genre-filter" type="checkbox" class="genre-filter" value="{{ genre.id }}">#}
{#                    <label for="genre-filter" class="footer-link">{{ genre.genre }}</label><br>#}
{#                {% endfor %}#}
{#                #}{# TODO: make the filter functional by creating a filter form #}
{#            </form>#}
            <!-- define filter form-->
            {{ form_start(filterform) }}
            {{ form_widget(filterform) }}
            {{ form_end(filterform) }}
        </aside>
        <section id="browsing-list">
            {% for book in books %}
                <div class="browsing-list-item">
                    <div class = "book-image-container">
                        <img src="{{ book.getImageUrl() }}" alt={{ book.getSmallImageUrl() }} class="book-list-image" width="200" height="300">
                    </div>
                    <div class="book-list-description">
                        <span class="book-list-title">{{ book.getTitle()}}</span>
                        {% if book.getAuthor() is not null %}
                            <span class="book-list-author">{{ book.getAuthor().getAuthorName() }}</span>
                        {% endif %}
                        <a href="{{ path("book", {'book_id': book.getId()}) }}" class="home-green-button">Detail</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>

    {#pages buttons#}
    <section class="browsing-pages">
        {% if previous >= 0 %}
            <a href="{{ path("browsing", {'offset': previous}) }}" class="main-button">Previous</a>
        {% endif %}
        {% if next < books|length %}
            <a href="{{ path("browsing", {'offset': next}) }}" class="main-button">Next</a>
        {% endif %}
    </section>
</section>
{% endblock %}

