{% extends 'base.html.twig' %}

{% block title %}
    Home | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block content %}
    <section id="home-page">
        <section id="intro">
            <div class="container">
                <h1>Recommended books for you!</h1>
                <h2>Have a look at the following book recommendations below, selected only for you</h2>
            </div>
        </section>
        <section id="books">
            <div class="container">
                <div class="followed-books">
                <h3>Based on your followed books</h3>
                <div class="book-list">
                    {% set count = 0 %}
                    {% if books==null %}
                    <h2>No followed books yet</h2>
                    {%  endif %}
                    {% for book in books%}
                        {% for author in followed_authors %}
                            {% if count < 20 %}
                                {% if author == book.getAuthor() %}
                                    <div class="book">
                                        <a href="{{ path("book", {book_id: book.getID()}) }}">
                                            <img src="{{ book.imageUrl }}" alt="book cover" >
                                        </a>
                                        <h4 class="title">{{ book.title() }}</h4>
                                        <h4 class="author">{{ book.author().getAuthorName() }}</h4>
                                    </div>
                                    {% set count = count+1 %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                </div>
                <div class="trending-books">
                <h3>Trending Books</h3>
                <div class="book-list">
                    {% for book in popular_books|slice(0,20)%}
                        <div class="book">
                            <a href="{{ path("book", {book_id: book.getID()}) }}">
                                <img src="{{ book.imageUrl }}" alt="book cover" >
                            </a>
                            <h4 class="title">  {{ book.title() }}</h4>
                            {%  if book.getAuthor() is not null %}
                                {% set authorName = book.getAuthor().getAuthorName() %}
                            {% else %}
                                {% set authorName = "Unknown" %}
                            {% endif %}
                            <h4 class="author">{{ authorName }}</h4>
                        </div>
                    {% endfor %}
                </div>
                </div>
                {% for genre in genres %}
                    <div class="{{ genre.getGenre() }}">
                    <h3>Books in the category {{ genre.getGenre() }}</h3>
                    <div class="book-list">
                        {% set count = 0 %}
                        {% for genre_book in genre_books %}
                            {% if genre_book.getGenre() == genre %}
                                {% if count < 20 %}
                                    <div class="book">
                                        <a href="{{ path("book", {book_id: genre_book.getID()}) }}">
                                            <img src="{{ genre_book.imageUrl }}" alt="book cover" >
                                        </a>
                                        <h4 class="title">{{ genre_book.title() }}</h4>
                                        {%  if genre_book.author() is not null %}
                                            {% set authorName = genre_book.author().getAuthorName() %}
                                        {% else %}
                                            {% set authorName = "Unknown" %}
                                        {% endif %}
                                        <h4 class="author">{{ authorName }}</h4>
                                    </div>
                                    {% set count = count + 1 %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>
{% endblock %}