{% extends 'base.html.twig' %}

{% block title %}
    Home | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block content %}
    <section id="home-page">
        <section id="intro">
            <div class="container">
                <h1>Reccomended books for you!</h1>
                <h2>Have a look at the following book reccomendations below, selected only for you</h2>
            </div>
        </section>
        <section id="books">
            <div class="container">
                <h3>Based on your followed books</h3>
                <div class="book-list">
                    {% set count = 0 %}
                    {% if books==null %}
                    <h2>No followed books yet</h2>
                    {%  endif %}
                    {% for book in books%}
                        {% for author in followed_authors %}
                            {% if count <= 20 %}
                                {% if author == book.getAuthor() %}
                                    <div class="book">
                                        <a href="{{ path("book", {book_id: book.getID()}) }}">
                                            <img src="{{ book.imageUrl }}" alt="book cover" >
                                        </a>
                                        <h4>{{ book.title() }}</h4>
                                        <h4>{{ book.author().getAuthorName() }}</h4>
                                    </div>
                                    {% set count = count+1 %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <h3>Trending Books</h3>
                <div class="book-list">
                    {% for book in popular_books|slice(0,20)%}
                        <div class="book">
                            <a href="{{ path("book", {book_id: book.getID()}) }}">
                                <img src="{{ book.imageUrl }}" alt="book cover" >
                            </a>
                            <h4>{{ book.title() }}</h4>
                            <h4>{{ book.author().getAuthorName() }}</h4>
                        </div>
                    {% endfor %}
                </div>
                {% for genre in genres %}
                    <h3>Books in the category {{ genre.getGenre() }}</h3>
                    <div class="book-list">
                        {% set count = 0 %}
                        {% for genre_book in genre_books %}
                            {% if genre_book.getGenre() == genre %}
                                {% if count < 20 %}
                                    <div class="book">
                                        <a href="{{ path("book", {book_id: genre_book.getID()}) }}">
                                            <img src="{{ genre_book.imageUrl }}" alt="book cover" >
                                        </a>
                                        <h4>{{ genre_book.title() }}</h4>
                                        <h4>{{ genre_book.author().getAuthorName() }}</h4>
                                    </div>
                                    {% set count = count + 1 %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>
{% endblock %}