{% extends 'base.html.twig' %}

{% block title %}
    Profile | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
<section id="profilebody">

    <section id = "left">
        {% if   avatar == null %}

        <img id = "profile_pic" src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="">
        {%else %}
        <img id = "profile_pic" src = "{{ avatar.getUrl() }}" alt="" >
        {% endif %}
        {% if  user.getFirstName() == null %}

            <h1 class = "profile_name" id="first"> user {{ user.getId() }}</h1>
        {%else %}
            <h1 class = "profile_name" id="first">{{ user.getFirstName() }}</h1>
            <h1 class = "profile_name" id="last">{{ user.getLastName() }}</h1>
        {% endif %}



        {% if user.getBio() is null %}


        {% else %}
            <div class="bio_container">
            <p id="user_bio">{{ user.getBio() }}</p>
            </div>
        {% endif %}

    </section>

    <section id = "right">

        <div class="booklist"  id="followed" >
            <h1 class = section-title id="followTitle"> Followed Books</h1>
                {% if followed_book == null%}
                <div class="empty">
                    <a >  &emsp; &emsp;  No followed books yet...</a>
                </div>
                {% else %}
            <div class="media_scroller snaps_inline">
                {% for book in followed_book %}

                <div class="media_element" >
                    <a href="{{ path("book", {book_id: book.getID()}) }}">
                    <img src = "{{ book.getImageUrl  }}" alt="">
                    <p class="title">{{ book.getTitle }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
                {% endif %}
            </div>



        <div class = booklist id="liked" >
            <h1 class = section-title id="likeTitle"> Liked Books</h1>
                {% if liked_list == null%}
                <div class="empty">
                    <a >   &emsp; &emsp; No liked books yet...</a>
                </div>
                {% else %}
            <div class="media_scroller snaps_inline">
                {% for book in liked_list %}
                    <div class="media_element">

                        <a href="{{ path("book", {book_id: book.getID()}) }}">
                        <img src = "{{ book.getImageUrl  }}" alt="">
                        <p class="title">{{ book.getTitle }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
                {% endif %}
        </div>

            <div class = booklist, id="disliked">
                <h1 class = section-title id="dislikeTitle"> Disliked Books</h1>
                {% if disliked_list == null%}
                    <div class="empty">
                        <a >   &emsp; &emsp; No disliked books yet...</a>
                    </div>
                {% else %}
                    <div class="media_scroller snaps_inline">
                        {% for book in disliked_list %}
                            <div class="media_element">
                                <a href="{{ path("book", {book_id: book.getID()}) }}">
                                    <img src = "{{ book.getImageUrl  }}" alt="">
                                    <p class="title">{{ book.getTitle }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>




    </section>

</section>

{% endblock %}
