{% extends 'base.html.twig' %}

{% block title %}
    Settings | {{ parent() }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}

{% block content %}

    <section id="settings">
        <h1 id="settings-title">Settings</h1>

        {% for message in app.flashes('password-success') %}
            <div id="password-message" style="color: #4CC366">
                {{ message }}
                <span id="close" onclick="closeMessage()">x</span>
            </div>
        {% endfor %}
        {% for message in app.flashes('password-fail') %}
            <div id="password-message" style="color: #A22020">
                {{ message }}
                <span id="close" onclick="closeMessage()">x</span>
            </div>
        {% endfor %}

        <button type="button" class="settings-submenu" >Profile</button>
        <div class="settings-menu-content">
            <h2>Edit your profile: </h2>

            <section id="avatar-settings">
                {% if user.getAvatar() is null %}
                    <p>No avatar is set yet</p>
                    <button class="button" id="btn-open-avatar-overlay" onclick="overlayOn()">Choose your avatar &#8599;</button>
                {% else %}
                    <p>This is your current avatar:</p>
                    <img id="user-avatar" src="{{ user.getAvatar().url }}" alt="user avatar">
                    <button class="button" id="btn-open-avatar-overlay" onclick="overlayOn()">Update avatar &#8599;</button>
                {% endif %}

                <form id="set-avatar" action="{{ path('setAvatar') }}" method="POST">
                    <div id="avatar-overlay">
                        <h1>Choose your avatar below:</h1>
                        <div id="grid-container">
                            {% for avatar in avatars %}
                                <button id="btn-avatar" class="avatar-image" type="submit" name="avatar-id" value="{{ avatar.id }}">
                                    <img src="{{ avatar.url }}" alt="avatar img {{ avatar.id }}">
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </form>
            </section>

            {# TODO: input safety #}
            <form id="set-bio" action="{{ path('setBio') }}" method="POST">
                <label for="bio">Bio:</label>
                {% if user.getBio() is null %}
                    <textarea id="bio" name="bio" rows="4" cols="50" placeholder="add a bio to your profile" oninput="onBioChange()" required></textarea>
                {% else %}
                    <textarea id="bio" name="bio" rows="4" cols="50" placeholder="{{ user.getBio() }}" required></textarea>
                {% endif %}
                <br>
                <button id="btn-save-bio" type="submit" class="button">Save bio</button>
            </form>
        </div>

        <button type="button" class="settings-submenu" >Preferences</button>
        <div class="settings-menu-content">
            <form id="form-favourite-genres" action="{{ path('editLikedGenres') }}" method="POST">
                <h2>Add your favourite genres</h2>
                <label for="genres">Favourite Book Genres:</label><br>
                <div id="genres">
                    <div class="genre">
                        {% for genre in bookgenres %}
                        {% if genre in favouriteGenresInitial %}
                            <input type="checkbox" id="{{ genre.getGenre() }}" name="{{ genre.getGenre() }}" value="{{ genre.id }}" checked>
                            <label for="{{ genre.getGenre() }}">{{ genre.getGenre()|capitalize }}</label>
                        {% else %}
                            <input type="checkbox" id="{{ genre.getGenre() }}" name="{{ genre.getGenre() }}" value="{{ genre.id }}">
                            <label for="{{ genre.getGenre() }}">{{ genre.getGenre()|capitalize }}</label>
                        {% endif %}
                    {% endfor %}
                    </div><br>
                </div>
                <button type="submit" class="button">Save Genres</button>
            </form>
        </div>

        <button type="button" class="settings-submenu" >Information</button>
        <div class="settings-menu-content">
            <form id="form-password" action="{{ path('editPassword') }}" method="POST">
                <h2>Edit password</h2>
                <label for="current-password">Current Password:</label>
                <input type="password" id="current-password" name="current-password" placeholder="Enter current password"
                       oninput="" required><br>

                <label for="new-password">New Password:</label>
                <input type="password" id="new-password" name="new-password" placeholder="Enter new password"
                       oninput="checkPasswordMatch()" required minlength="8"><br>

                <label for="confirm-password">Confirm New Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Re-enter new password"
                       oninput="checkPasswordMatch()" required>
                <span id="passwordMatchMessage"></span><br>

                <button id="btn-submit-pw" type="submit" class="button" disabled>Save Password</button>
            </form>

        </div>
    </section>

{% endblock %}