{#TODO: use symfony form toolkit #}

{% extends 'base.html.twig' %}

{% block title %}
    Settings | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block content %}

    <section id="settings">
        <h1 id="settings-title">Settings</h1>

        <button type="button" class="settings-submenu" >Information</button>
        <div class="settings-menu-content">
            <form id="form-address">
                <h2>Edit address:</h2>
                <label for="street">Address (street name + nr):</label>
                <input type="text" id="street" name="street" required><br>

                <label for="city">City:</label>
                <input type="text" id="city" name="city" required><br>

                <label for="zip">Postal Code:</label>
                <input type="text" id="zip" name="zip" required><br>

                <label for="country">Country:</label>
                <input type="text" id="country" name="country" required><br>

                <button type="submit" class="button" id="submit-address">Save Address</button>
            </form>
            <form id="form-phone-nr">
                <h2>Edit phone number:</h2>
                <label for="phone">New Phone Number:</label>
                <input type="tel" id="phone" name="phone" placeholder="Enter new phone number"><br>

                <button type="submit" class="button">Save Phone Number</button>
            </form>

            <form id="form-password">
                <h2>Edit password</h2>
                <label for="current-password">Current Password:</label>
                <input type="password" id="current-password" name="current-password" placeholder="Enter current password" required><br>

                <label for="new-password">New Password:</label>
                <input type="password" id="new-password" name="new-password" placeholder="Enter new password" required minlength="8"><br>

                <label for="confirm-password">Confirm New Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Re-enter new password" required><br>

                <button type="submit" class="button">Save Password</button>
            </form>

        </div>

        <button type="button" class="settings-submenu" >Preferences</button>
        <div class="settings-menu-content">
            <form id="form-favourite-genres">
                <h2>Add you favourite genres</h2>
                <label for="genres">Favorite Book Genres:</label><br>
                {# TODO: dynamically load your book genres #}
                <div id="genres">
                    {% for genre in bookgenres %}
                        <div class="genre">
                            <input type="checkbox" id="{{ genre.getGenre() }}" name="{{ genre.getGenre() }}" value="{{ genre.getGenre()|capitalize }}">
                            <label for="{{ genre.getGenre() }}">{{ genre.getGenre()|capitalize }}</label>
                        </div><br>
                    {% endfor %}
                </div>
                <button type="submit" class="button">Save Genres</button>
            </form>

            {#TODO: add overlay for searching and editing your favourite authors #}
            <form id="form-add-authors">
                <h2>Add authors to your list of favourite authors</h2>
                <button class="button">Search for authors</button>
            </form>
        </div>

        <button type="button" class="settings-submenu" >Privacy</button>
        <div class="settings-menu-content">
            <form>
                <h2> Choose which information to share with Bookable: </h2>
                <div id="share-location">
                    <label for="location">Share Location:</label>
                    <input type="checkbox" id="location" name="location">
                </div>
                <br>
                <div id="share-phone-nr">
                    <label for="phone">Share Phone Number:</label>
                    <input type="checkbox" id="phone" name="phone">
                </div>
                <br>
                <button type="submit" class="button">Save changes</button>
            </form>

            <form>
                <h2>Edit visibility options:</h2>
                <label for="profile-visibility">Choose who can see your profile:</label>
                <select id="profile-visibility" name="profile-visibility">
                    <option value="friends">Friends</option>
                    <option value="close-friends">Close Friends</option>
                    <option value="public">Public</option>
                </select>
                <br>
                <label for="post-visibility">Choose who can see your posts and comments:</label>
                <select id="post-visibility" name="post-visibility">
                    <option value="friends">Friends</option>
                    <option value="close-friends">Close Friends</option>
                    <option value="public">Public</option>
                </select>
                <br>
                <button type="submit" class="button">Save changes</button>
            </form>
        </div>

        <button type="button" class="settings-submenu" >Profile</button>
        <div class="settings-menu-content">
            <h2>Edit you profile: </h2>
            <form>
                <label for="bio">Bio:</label>
                <textarea id="bio" name="bio" rows="4" cols="50"></textarea>
                <br>
                <button type="submit" class="button">Save</button>
            </form>

            <form enctype="multipart/form-data">
                <label for="picture">Choose a profile picture:</label>
                <input type="file" id="picture" name="picture">
                <br>
                <button type="submit" class="button">Upload</button>
            </form>
        </div>
    </section>

{% endblock %}
{#
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
#}