{% extends 'base.html.twig' %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <section class="welcome_text">
        <h1 id ="welcome">Welcome to Bookable</h1>
        {#  <img id = "logo_png" src="https://www.linkpicture.com/q/Bookable-removebg-preview-2.png" alt="the logo of the app">#}

        <button onclick="loginOn()" class="login_button">Log in</button>
        <a href="{{ path('app_register') }}">Register</a>
    </section>

    <section id="Login" class="overlay">
        <section>
            <div class = "overlay_header">

            <button onclick="loginOff()" class="cls_btn">&times;</button>
            </div>
            <p  id="login_title">Log in to your account</p>
            <form action="{{ path('welcome') }}" method="post">
                <label for="login_username" class="login_text">email:</label>
                <input type="text" id="login_username" name="_username" value="{{ last_username }}" onkeyup="LoginFilledIn()" required><br>
                <label for="login_password" class="login_text">password:</label>
                <input type="password" id="login_password" name="_password" onkeyup="LoginFilledIn()" required><br>
                <div id = "submit">
                <input type="submit" name="Submit" id="login_submit" value="Submit" onclick="loginOff()"/>
                </div>
                {# next input is meant to determin where the user is sent on succes #}
                <input type="hidden" name="_target_path" value="/home">
            </form>
        </section>
    </section>
    {#
    <section id="Register" class="overlay">
        <section>
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <h1>Register</h1>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        </section>
    </section>
    #}


{% endblock %}